<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcmis.mapper.RemainMapper">

    <resultMap id="BaseResultMap" type="com.hbcmis.entity.repository.RemainDo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="remainStore" jdbcType="INTEGER" property="remainStore"/>
        <result column="remainNumber" jdbcType="INTEGER" property="remainNumber"/>
        <result column="remainType" jdbcType="INTEGER" property="remainType"/>
    </resultMap>

    <select id="selectAll" resultType="com.hbcmis.entity.dto.RemainDto">
        SELECT MR.*,MMT.*,MS.STORE_NAME
        FROM (MIS_REMAIN MR,MIS_MEDICINE_TYPES MMT,MIS_STORE MS)
        WHERE MS.id = MR.remain_store
		AND MMT.id = MR.remain_type
    </select>

    <select id="selectByName" resultType="com.hbcmis.entity.dto.RemainDto">
        SELECT MR.*,MMT.*,MS.STORE_NAME
        FROM (MIS_REMAIN MR,MIS_MEDICINE_TYPES MMT,MIS_STORE MS)
        WHERE MS.id = MR.remain_store
		AND MMT.id = MR.remain_type
		AND MS.STORE_NAME = #{storeName}
    </select>

    <select id="selectByMedicine" resultType="com.hbcmis.entity.dto.RemainDto">
        SELECT MR.*,MMT.*,MS.STORE_NAME
        FROM (MIS_REMAIN MR,MIS_MEDICINE_TYPES MMT,MIS_STORE MS)
        WHERE MS.id = MR.remain_store
		AND MMT.id = MR.remain_type
		AND MMT.medicine_name = #{medicineName}
    </select>

    <select id="selectByFilter" resultType="com.hbcmis.entity.dto.RemainDto">
        SELECT MR.*,MMT.*,MS.STORE_NAME
        FROM (MIS_REMAIN MR,MIS_MEDICINE_TYPES MMT,MIS_STORE MS)
        WHERE MS.id = MR.remain_store
		AND MMT.id = MR.remain_type
        <if test="medicineName!=null and medicineName!='%%'">
            AND MMT.medicine_name LIKE #{medicineName}
        </if>
        <if test="storeName!=null and storeName!='%%'">
            AND MS.STORE_NAME LIKE #{storeName}
        </if>
    </select>

    <select id="selectId" resultType="com.hbcmis.entity.repository.RemainDo">
        SELECT * FROM MIS_REMAIN MR WHERE MR.id = #{id}
    </select>

    <select id="selectByTypeAndStore" resultType="com.hbcmis.entity.repository.RemainDo">
        SELECT * FROM MIS_REMAIN MR
        WHERE MR.REMAIN_STORE = #{remainStore}
        AND MR.REMAIN_TYPE = #{remainType}
    </select>

    <select id="selectByStore" resultType="com.hbcmis.entity.repository.RemainDo">
        SELECT * FROM MIS_REMAIN MR
        WHERE MR.REMAIN_STORE = #{remainStore}
    </select>

    <select id="selectByType" resultType="com.hbcmis.entity.repository.RemainDo">
        SELECT * FROM MIS_REMAIN MR
        WHERE MR.REMAIN_TYPE = #{remainType}
    </select>

    <insert id="addRecord" parameterType="com.hbcmis.entity.repository.RemainDo">
        INSERT INTO MIS_REMAIN VALUES (default ,#{remainStore},#{remainNumber},#{remainType})
  	</insert>

    <update id="updateRecord" parameterType="com.hbcmis.entity.repository.RemainDo">
        update MIS_REMAIN
        <set>
            remain_number = #{remainNumber}
        </set>
        where id=#{id}
    </update>

</mapper>
